<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      body {
        height: 4000px;
      }
      img {
        vertical-align: top;
      }
      .box {
        border: 1px solid black;
        position: fixed; /* 기존이 배치 방식 무시 */
        right: 100px;
        bottom: 100px;
      }
    </style>
  </head>
  <body>
    <div class="box">
      <img src="https://placehold.co/100x120" alt="" />
    </div>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione, pariatur
      ex quidem totam nemo possimus, quae rem, ut beatae sapiente maiores. Alias
      eligendi commodi error autem iusto aut quas omnis obcaecati dolorem
      consectetur corrupti quaerat, corporis neque nobis possimus eveniet culpa
      velit officia cumque laudantium veniam maxime optio! Facere sit a ut
      quaerat, fugit ea! Ad eligendi amet enim quia officia omnis excepturi
      quibusdam esse! Commodi incidunt earum voluptatum tempora sit debitis ut
      adipisci rem. Ad fugiat fugit tenetur porro repellat perspiciatis, quod
      voluptates possimus praesentium nam a molestias numquam. Totam laborum
      voluptatem fuga doloribus voluptatibus praesentium dignissimos laudantium
      alias natus laboriosam mollitia, optio libero repudiandae error quaerat,
      dolor nulla exercitationem quidem tempore nihil. Rerum veniam id nemo sunt
      animi, ea accusantium ad sed, aspernatur reprehenderit voluptas recusandae
      nostrum minus accusamus molestiae hic tenetur porro, repellat aliquam?
      Adipisci, accusantium assumenda aperiam fugit molestiae nobis distinctio
      quo, rerum dicta fugiat consequuntur. Est nisi odit deserunt architecto
      itaque. Voluptate quia fugit, amet esse dignissimos ullam voluptatum iste
      necessitatibus magnam eum nobis neque fugiat molestiae velit non quisquam
      dolor. Delectus suscipit magnam quae ea iusto hic harum quaerat sit
      asperiores quia, debitis eius, dolore provident, amet voluptates. Dicta
      commodi ipsam quo nam eligendi, error nemo possimus cumque optio quasi
      consequuntur neque accusantium quam, repellat at doloribus ea ratione
      dolores odio. Beatae, quis. Laboriosam omnis dolor in, sapiente quos
      necessitatibus praesentium nostrum, ratione aspernatur voluptate dolore
      amet, ex itaque aperiam magni officiis iste quis tempore laudantium et.
      Enim ipsum autem sapiente labore perspiciatis molestiae aperiam odio
      libero, ad consequuntur rem consectetur pariatur eius quia harum saepe
      vitae beatae praesentium illo iusto quae quas quos mollitia! Fuga nihil
      sed, dolorem delectus vitae temporibus, tempora vero exercitationem cumque
      quidem accusamus quos debitis magni nam voluptatibus, minus sunt
      laudantium quia id quae sapiente blanditiis illum numquam? Id dicta
      aspernatur illum voluptate, eligendi nulla repellat, veritatis harum quia
      vitae, quae sunt cupiditate. Debitis amet doloremque ipsam ipsa
      aspernatur, aliquam nulla minus, molestiae numquam explicabo harum
      repellendus incidunt recusandae ipsum alias voluptatibus enim non nisi
      voluptate aliquid, ullam fugiat unde veniam laudantium. Ea commodi error
      temporibus ad ut! Sed necessitatibus nulla assumenda eligendi numquam rem,
      ut corporis, illum autem rerum saepe vero. Deleniti sunt aliquid ullam
      dolor, laborum earum odio quo ad quae, molestiae numquam dolore, eius quas
      fugiat. Tempora molestias debitis distinctio dignissimos velit dolorum
      eos, nisi soluta ipsa cum et, voluptates repellat odio voluptatum pariatur
      ratione minus enim molestiae laborum recusandae at fugiat dolorem
      consequuntur expedita. Atque vitae adipisci soluta earum iste, dolores, in
      repellendus, hic vel rem neque velit impedit harum assumenda officia
      possimus recusandae? Aliquam, esse iusto? Quia incidunt eveniet aut modi
      ex eum consequuntur provident, totam accusamus perspiciatis animi itaque,
      asperiores reprehenderit cum quibusdam esse quasi autem labore vitae
      illum? Molestiae modi id voluptatibus fuga magnam cupiditate, itaque
      perspiciatis impedit quas quia odio veritatis, numquam quis saepe. Quos
      eos exercitationem beatae harum veritatis dolorum, dignissimos sapiente
      aut maxime corrupti eveniet, repellendus laboriosam culpa unde qui quod
      quisquam blanditiis consequuntur. Rerum voluptates praesentium possimus
      deserunt!
    </p>
  </body>
</html>
